* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol,
menu {
	list-style: none;
}
a{
    text-decoration: none;
    color: currentColor;
}
.container-header {
    max-width: 1200px;
	margin: 0 auto;
    border: 2px solid #ff6900;
	padding: 20px;
    background-color: #ff6900;
}
.logo{
    height: 25px;
  
}
.row{
    display: flex;
}
.justify-between{
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
}
.genere{
    color: white;
    padding-right: 5px;
}

.shop{
    color: white;
    padding-right: 5px;

}
.color-main{
    background-color: #ffffff;
}
.container-cards{
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 1200px;
    
}
.profilo{
    max-width: 360px;
}
.sp{
    margin-right: 15px;
}
.marca{
    font-size: 12px;
}